<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19953744011-lb1d4kfqclfp5slcg09idbvigoqrb6jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19953744011-lb1d4kfqclfp5slcg09idbvigoqrb6jo</string>
	<key>API_KEY</key>
	<string>AIzaSyCoiNE222RQlKBLMOHCZzYs7K1k2i9B-DM</string>
	<key>GCM_SENDER_ID</key>
	<string>19953744011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vlad.sushko.cos-store</string>
	<key>PROJECT_ID</key>
	<string>parcelotw</string>
	<key>STORAGE_BUCKET</key>
	<string>parcelotw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:19953744011:ios:12f71531dd0e168ccb3c8e</string>
</dict>
</plist>
